@model Bakery.Models.Order

@{
    ViewData["Title"] = "Details";
}

<div class="jumbotron">
    <h2>Order Details</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Delivery cost
            </dt>
            <dd>
                @String.Format("{0:C}", Model.DeliveryPrice)
            </dd>
            <dt>
                Delivery
            </dt>
            <dd>
                @Model.DeliveryDate.ToString("H:mm d/MM/yyyy")
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>
            <dt>
                Created
            </dt>
            <dd>
                @Model.CreatedAt.ToString("H:mm d/MM/yyyy")
            </dd>
        </dl>
    </div>

    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Comments</th>
                <th>Added</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderItems)
            {
                <tr>
                    <td>
                        @item.Product.Description
                    </td>
                    <td>
                        @String.Format("{0:C}", item.Product.Price)
                    </td>
                    <td>
                        @item.Quantity
                    </td>
                    <td>
                        @item.Comments
                    </td>
                    <td>
                        @item.CreatedAt
                    </td>
                    <td>
                        <a asp-controller="OrderItems" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-controller="OrderItems" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <a asp-action="Checkout" asp-route-id="@Model.ID" class="btn btn-primary">Checkout</a>
        <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-default">Edit</a>
        <a asp-action="Index" class="btn btn-default">Back to List</a>
    </div>

</div>